    .search-bar__content {
    width: 100%;
    padding: 0.5rem;
}

.search-bar__content > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-bar__content > div > input {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.search-bar__content > div > p {
    width: 10%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid black;
    text-align: center;
    transition: all 0.2s ease-out;
}

.search-bar__content > div > p:hover {
    background: grey;
    
}